[submodule "kvm-vmi/kvm-vmi"]
	path = kvm-vmi/kvm-vmi
	url = https://github.com/KVM-VMI/kvm-vmi
[submodule "kvm-vmi/libvmi"]
	path = kvm-vmi/libvmi
	url = https://github.com/0xf4b1/libvmi
[submodule "kvm-vmi/libkvmi"]
	path = kvm-vmi/libkvmi
	url = https://github.com/bitdefender/libkvmi
[submodule "kvm-vmi/dwarf2json"]
	path = kvm-vmi/dwarf2json
	url = https://github.com/tklengyel/dwarf2json
